*
{
  margin: 0 ;
  padding: 0;
   font-family: "Open Sans", sans-serif; 
  box-sizing: border-box;
  cursor: pointer;
}

.nav-details
{
  display: flex;
  justify-content: space-around;
}
.nav-details .nav-pic img{
  width:139px;
  height: 60px;
  margin: 16px 120px;
}
.nav-d .extra-nav
 {
  display: flex;
  gap: 32px;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  margin: 34px ;
}
.nav-d .extra-nav a{
  text-decoration: none; 
}
.button #btn
{
  background-color: #30B868;
  color:#FFFFFF;
  padding: 12.5px 16px;
  border-radius: 4px;
  border:1px solid white;
  margin: 24px 120px;
}
.button #btn:hover
{
  background-color: pink;

}
.hero-details
{
  text-align: center;
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat ;
  padding: 116px 120px 180px 120px;

}
.hero-details .er-dot .top-line
{
  border-radius: 1000px;
  background-color: #FFFFFF;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  padding:8px 12px;
  color: rgba(70, 145, 101, 1);
}
.hero-details .er-dot .topline:hover{
  background-color: green;
}
.hero-details h1
{
  padding:16px 0;
  font-size: 72px;
  font-weight: bold;
  color:rgba(255, 255, 255, 1);
}
.hero-details .second-p
{
  color:rgba(48, 184, 104, 1);
  font-size: 72px;
  font-weight: bold;
}
.hero-details p{
  font-size: 18px;
  font-weight: 400px;
  color:rgba(255, 255, 255, 1);
  margin-top:16px;
}
.hero-details .first-btn
{
  background-color:#30B868;
  color:rgba(255, 255, 255, 1);
  padding:12px 10px ;
  text-align:justify;
  border-radius: 4px;
  border: none;
  margin-top:32px;

}
.hero-details .first-btn:hover
{
  background-color:pink;
}
.hero-details .first-btn img{
  height: 20px;
  width:20px;
  position: relative;
  align-items: center;
  
}
.hero-details .second-btn img
{
  height: 20px;
  width:20px;
}
.hero-details .second-btn
{
  padding: 12px 16px;
  margin-left: 16px;
  border:1px solid rgba(255, 255, 255, 1);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  background: transparent;
  color: #FFFFFF; 

}
.hero-details .second-btn:hover{
  background-color: #30B868;
}
.text-details{
  text-align: center;
  max-width: 1360px;
  padding-top: 80px;
  margin-bottom: 44px;
}
.text-details h1
{
 font-size: 48px;
 font-weight: bold;
 color:#001931;
 margin-bottom: 16px;
}
.text-details p
{
  color:#627382;
  font-size: 16px;
  line-height: 20px;
}
.card-details
{
  display: flex;
  gap:16px;
  margin: 44px 120px;
 justify-content: space-between;
}
.card-class img
{
 background-color: #f95555;
 height: 40px;
 width: 40px;
 margin: 14px;
 border-radius: 40%;
}
 .card-class
{
 background-color:rgba(255, 255, 255, 1);
 border-radius: 8px;
 padding: 24px;
 border: 1px solid rgb(241, 235, 235);
 box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4) ;
 color:#FFFFFF;
  
  border-radius: 8px;
  padding: 24px;
  text-align: center;
}
.card-details .card-class h1{
  font-size: 24px;
  font-weight: 600;
}
.card-details .card-class p{
   font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.solution-details
{
  display: flex;
  justify-content: space-between;
  margin: 120px;
  gap:54px;
}
.solution-details .solution-para
{
  text-align: center;
} 
.solution-details .solution-para li
{
  list-style: none;
  text-align: left;
  padding-left: 0px;
  gap:16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding-bottom: 16px;
}
.solution-details .solution-img{
  height: 600px;
  width: 600px;
}
.solution-details .solution-para h4{
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding-top: 102px;
  padding-bottom: 16px;
}
.solution-details .solution-para h1{
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  padding-bottom: 16px;
}
.solution-details .solution-para p{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  padding-bottom: 40px;
}
.lastly
{
  background-color: rgb(247,246,242,1);
   padding: 80px 40px;
  margin-right: 120px;
  margin-left: 120px;
  text-align: center;
  margin-bottom: 120px;
}
.lastly h1
{
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  padding-bottom: 16px;
}
.lastly p
{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 24px;
}
.lastly button
{
 text-align: center;
   font-size: 16px;
  font-weight: 600;
padding:12px 16px;
border-radius: 4px;
color:#FFFFFF;
background-color: #30B868;
justify-content: center;
border: none;
margin-bottom: 32px;
}
.lastly button img{
  height: 20px;
  width: 20px;
  padding: 3.43px 2.18px;
}
.lastly .last-p
{
   font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.lastly button:hover{
  background-color:darkgreen;
}
.footer-footer
{
  display: flex;
  background-color: rgba(0, 25, 49, 1);
  width:100%;
  margin: 0 auto;
  padding:120px;
  justify-content: space-between;
}
.footer-footer .footer-links img
{
  height: 20px;
  width: 20px;
margin-right: 16px;

}
.footer-footer .footer-links p{
    font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color:rgba(255, 255, 255, 1);
  padding-bottom: 16px;
}
.copyright
{
   font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color:rgba(250, 250, 250, 1);
  text-align: center;
  padding-bottom: 24px;
 background-color: rgba(0, 25, 49, 1);
 padding-top: 30px;
}